#study-cases-container{
    /* border: 3px solid purple; */
    width : 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 35px;
}

.study-case-card{
    border : 1px solid black;
    border-radius: 15px;
    width : 50%;
    height: 17.5vh;
    padding: 10px;
    background-color: white;
    color : black;
    text-align: center;
    
}